@model Dictionary<string, string>
@{
    ViewBag.Title = "Statistics";
}

<h2>Survey Results</h2>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    @if (ViewBag.NoStatsAvailable == true)
    {
        <p>No statistics available.</p>
    }
    else
    {
        <table>
            <tr>

                <td> <h5>Total Submissions:</h5></td>
                <td> <h5>@ViewBag.TotalSubmissions</h5></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> <h5>Average Age:</h5></td>
                <td> <h5>@ViewBag.AverageAge</h5></td>
            </tr>
            <tr>
                <td> <h5>Youngest Person</h5></td>
                <td> <h5>(Age @ViewBag.OldestAge)</h5></td>
            </tr>
            <tr>
                <td> <h5>Oldest Person</h5></td>
                <td> <h5>(Age @ViewBag.YoungestAge )</h5></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
            </tr>

            <tr>
                <td> <h5>Percentage of People Who Liked Pizza:</h5></td>
                <td> <h5>@ViewBag.PizzaLoversPercentage%</h5></td>
            </tr>
            <tr>
                <td> <h5>Percentage of People Who Liked Pasta:</h5></td>
                <td> <h5>@ViewBag.PastaLoversPercentage%</h5></td>
            </tr>
            <tr>
                <td> <h5>Percentage of People Who Liked Pap&Wors:</h5></td>
                <td> <h5>@ViewBag.PapAndWorsLoversPercentage%</h5></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
            </tr>

        </table>
        <br />

        foreach (var activityRating in Model)
        {
            <h3>@activityRating.Key: @activityRating.Value</h3>

        }
    }

</body>


