@model Dictionary<string, string>
@{
    ViewBag.Title = "Statistics";
}

<h2>Survey Statistics</h2>

@if (ViewBag.NoStatsAvailable == true)
{
    <p>No statistics available.</p>
}

    <h3>Total Submissions: @ViewBag.TotalSubmissions</h3>

    <h3>Average Age: @ViewBag.AverageAge</h3>
    <h4>Youngest Person (Age @ViewBag.OldestAge): @ViewBag.OldestPersonName</h4>
    <h4>Oldest Person (Age @ViewBag.YoungestAge): @ViewBag.YoungestPersonName</h4>
    <br />

    <h3>Percentage of People Who Liked Pizza: @ViewBag.PizzaLoversPercentage%</h3>
    <h3>Percentage of People Who Liked Pasta: @ViewBag.PastaLoversPercentage%</h3>
    <h3>Percentage of People Who Liked Pap and Wors: @ViewBag.PapAndWorsLoversPercentage%</h3>
    <br />

    @*<h3>Average Rating for Watching TV: @ViewBag.WatchTVAverageRating</h3>
        <h3>Average Rating for Listening to Radio: @ViewBag.ListenToRadioAverageRating</h3>
        <h3>Average Rating for Eating Out: @ViewBag.EatOutAverageRating</h3>
        <h3>Average Rating for Watching Movies: @ViewBag.WatchMoviesAverageRating</h3>*@

@foreach (var activityRating in Model)
{
    <h3>@activityRating.Key: @activityRating.Value</h3>
}






